Repository nkdAgility/azure-devops-migration-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, enhancement-classic

🔧 (main.yml): remove unused environment variables from GitHub Actions workflow
  .github/workflows/main.yml
Labels: none

📝 (breadcrumbs.html, header.html): update breadcrumbs and include in header
  docs/_includes/breadcrumbs.html
  docs/_includes/header.html
Labels: documentation

📝 (label-actions.yml): update issue templates with detailed instructions
  .github/label-actions.yml
Labels: none

📝 (label-actions.yml): correct step numbering in contribution guide
  .github/label-actions.yml
Labels: none

📝 (label-actions.yml): add spacing for better readability in action-required comments
  .github/label-actions.yml
Labels: none

📝 (footer.html): update footer with new layout and additional links
  docs/_includes/footer.html
  docs/_layouts/default.html
  docs/assets/css/main.css
Labels: documentation

♻️ (Get-ReleaseDescription.ps1): refactor to use Get-GitChanges function for better modularity
  build/include/Get-ReleaseDescription.ps1
  build/include/test.ps1
  docs/Reference/Generated/MigrationTools.xml
Labels: documentation

📝 (docs): update MigrationTools.xml with latest git metadata 🔧 (tests): inject configuration into service provider helpers
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.FileSystem.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.InMemory.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Integration.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Tests/ServiceProviderHelper.cs
Labels: documentation

♻️ (configuration.json): remove unused enrichers and processors 🔧 (configuration.json): update configuration structure for clarity
  configuration.json
  docs/_includes/sampleConfig/configuration.json
Labels: documentation

🔧 (configuration.json): correct typo in FieldMapType values ♻️ (launchSettings.json): remove redundant configurations and add new ones ✨ (MigrationToolHost.cs): update field map configuration section
  configuration.json
  src/MigrationTools.ConsoleFull/Properties/launchSettings.json
  src/MigrationTools.Host/MigrationToolHost.cs
Labels: none

♻️ (Get-ReleaseDescription.ps1): refactor to use Get-GitChanges function for better modularity
  build/include/Get-ReleaseDescription.ps1
  build/include/test.ps1
  docs/Reference/Generated/MigrationTools.xml
Labels: documentation

📝 (docs): update MigrationTools.xml with new member documentation
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.ConsoleFull/MigrationTools.ConsoleFull.csproj
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
Labels: documentation

📝 (docs): update YAML and Markdown documentation for processor enrichers
  docs/_data/reference.v2.processorenrichers.tfsembededimagesenricher.yaml
  docs/_data/reference.v2.processorenrichers.tfsgitrepositoryenricher.yaml
  docs/_data/reference.v2.processorenrichers.tfsworkitemembededlinkenricher.yaml
  docs/_data/reference.v2.processorenrichers.workitemtypemappingenricher.yaml
  docs/collections/_reference/reference.v1.processors.workitembulkeditprocessor.md
  docs/collections/_reference/reference.v2.processorenrichers.tfsembededimagesenricher.md
  docs/collections/_reference/reference.v2.processorenrichers.tfsgitrepositoryenricher.md
  docs/collections/_reference/reference.v2.processorenrichers.tfsworkitemembededlinkenricher.md
  docs/collections/_reference/reference.v2.processorenrichers.workitemtypemappingenricher.md
Labels: documentation

🔧 (main.yml): update script path for Get-ReleaseDescription.ps1
  .github/workflows/main.yml
Labels: none

✨ (launchSettings.json, MigrationConfigCommand.cs): add new configuration command and interactive configuration editor
  src/MigrationTools.ConsoleFull/Properties/launchSettings.json
  src/MigrationTools.Host/Commands/MigrationConfigCommand.cs
Labels: none

🔧 (main.yml): correct script name in GitHub Actions workflow
  .github/workflows/main.yml
Labels: none

🔧 (Get-ReleaseDescription.ps1): update OpenAI model from gpt-4-turbo to gpt-4o-mini
  build/include/Get-ReleaseDescription.ps1
Labels: none

🔧 (main.yml): fix syntax error in GitHub Actions workflow file
  .github/workflows/main.yml
Labels: none

🔧 (main.yml): fix syntax error in GitHub Actions workflow file
  .github/workflows/main.yml
Labels: none

fix #2294 for @NormanGarciaV: 📝 (docs): update MigrationTools.xml with latest git metadata
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: documentation, enhancement-classic

🔧 (main.yml): add continue-on-error to nkdagility-summery step
  .github/workflows/main.yml
Labels: none

🔧 (main.yml): update job names and add step to show release description
  .github/workflows/main.yml
Labels: none

📝 (MigrationTools.xml): update generated documentation with latest git metadata
  docs/Reference/Generated/MigrationTools.xml
Labels: documentation

🔧 (main.yml): add grouping to workflow steps for better readability
  .github/workflows/main.yml
Labels: none

🐛 (main.yml): fix typo in Get-ReleaseDescription script call
  .github/workflows/main.yml
Labels: none

🔧 (main.yml): remove continue-on-error from nkdagility-summery and nkdAgility_ReleaseDescription steps
  .github/workflows/main.yml
Labels: none

✨ (TfsEnricherGroup): add TfsEnricherGroup class to group related enrichers 🔧 (ServiceCollectionExtensions): register TfsEnricherGroup in the service collection
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsEnricherGroup.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: enhancement-classic

✨ (MigrationTools): add TfsStaticEnrichers and StaticEnrichers classes
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsStaticEnrichers.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools/ProcessorEnrichers/StaticEnrichers.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: documentation, enhancement-classic

✨ (appsettings.json, MigrationTools): add TfsChangeSetMappingTool for enhanced change set mapping
  appsettings.json
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsGitRepositoryEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsGitRepositoryInfo.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsChangeSetMappingTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsChangeSetMappingToolOptions.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.Tests/ServiceProviderHelper.cs
  src/MigrationTools/IMigrationEngine.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/_EngineV1/Configuration/ChangeSetMappingProvider.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
  src/MigrationTools/_EngineV1/Configuration/IChangeSetMappingProvider.cs
  src/MigrationTools/_EngineV1/Containers/ChangeSetMappingContainer.cs
Labels: documentation, enhancement-classic

✨ (config): add GitRepoMappingTool for repository mappings
  appsettings.json
  configuration.json
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsGitRepositoryEnricher.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.Tests/ServiceProviderHelper.cs
  src/MigrationTools/IMigrationEngine.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/GitRepoMappingTool.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/GitRepoMappingToolOptions.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
  src/MigrationTools/_EngineV1/Containers/GitRepoMapContainer.cs
  src/MigrationTools/_EngineV1/Containers/UserMapContainer.cs
Labels: documentation, enhancement-classic

♻️ (refactor): refactor processor configuration and container handling
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Host.Tests/MigrationHostTests.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.Tests/Core/Engine/Containers/ProcessorContainerTests.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/Processors/ProcessorContainer.cs
  src/MigrationTools/Processors/ProcessorContainerOptions.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
  src/VstsSyncMigrator.Core.Tests/MigrationEngineTests.cs
Labels: documentation, enhancement-classic

♻️ (refactor): move MigrationConfigVersion enum and related methods to VersionOptions class
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/ConfigurationSectionExtensions.cs
  src/MigrationTools/Options/VersionOptions.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/FieldMappingToolOptions.cs
  src/MigrationTools/Processors/ProcessorContainerOptions.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/_EngineV1/Containers/IProcessor.cs
Labels: documentation, enhancement-classic

📝 (docs): update MigrationTools.xml with new commit details ✅ (tests): uncomment and ignore a test in MigrationEngineTests.cs
  docs/Reference/Generated/MigrationTools.xml
  src/VstsSyncMigrator.Core.Tests/MigrationEngineTests.cs
Labels: documentation, enhancement-classic

♻️ (ProcessorEnrichers): remove obsolete Configure methods and migrate to IOptions pattern
  src/MigrationTools/ProcessorEnrichers/IProcessorEnricher.cs
  src/MigrationTools/ProcessorEnrichers/PauseAfterEachItem.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/AppendMigrationToolSignatureFooter.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/FieldMappingTool.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/FilterWorkItemsThatAlreadyExistInTarget.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/GitRepoMappingTool.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/IWorkItemProcessorEnricher.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/SkipToFinalRevisedWorkItemType.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/StringManipulatorEnricher.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/WorkItemProcessorEnricher.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/WorkItemTypeMappingEnricher.cs
  src/MigrationTools/_EngineV1/Enrichers/EmbededImagesRepairEnricherBase.cs
Labels: enhancement-classic

✨ (ServiceCollectionExtensions.cs, TelemetryLoggerFake.cs): add TelemetryLoggerFake for testing purposes
  src/MigrationTools.TestExtensions/ServiceCollectionExtensions.cs
  src/MigrationTools.TestExtensions/TelemetryLoggerFake.cs
Labels: none

📝 (docs): update MigrationTools.xml with latest commit details
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ProcessorEnrichers/TfsNodeStructureTests.cs
Labels: documentation

✅ (TfsNodeStructureTests.cs): fix incorrect variable usage in test configuration
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ProcessorEnrichers/TfsNodeStructureTests.cs
Labels: none

📝 (docs): update MigrationTools.xml with latest git metadata
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Tests/Core/Engine/Containers/ProcessorContainerTests.cs
  src/MigrationTools/Configuration/MigrationToolsConfiguration.cs
  src/MigrationTools/Processors/ProcessorContainerOptions.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
Labels: documentation, enhancement-classic

📝 (docs): update MigrationTools.xml with new commit details ♻️ (ServiceCollectionExtensions): rename migration config version enums for clarity
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools.Host/Commands/MigrationConfigCommand.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/Options/VersionOptions.cs
  src/MigrationTools/Options/WritableOptions.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/FieldMappingToolOptions.cs
  src/MigrationTools/Processors/ProcessorContainerOptions.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
Labels: documentation

✨ (VersionOptions.cs): add ConfigVersion property to VersionOptions class
  src/MigrationTools/Options/VersionOptions.cs
Labels: none

.github/labeler.yml:

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
build-action:
- changed-files:
  - any-glob-to-any-file: ['build/**', '.github/workflows/**']
- head-branch: ['^build', 'build']

enhancement:
- changed-files:
  - all-globs-to-any-file: ['src/**']

enhancement-classic:
- changed-files:
  - any-glob-to-any-file: ['src/MigrationTools/_EngineV1/**', 'src/VstsSyncMigrator*/**']

enhancement-modern:
- changed-files:
  - all-globs-to-any-file: ['src/**', '!src/MigrationTools/_EngineV1/**', '!src/VstsSyncMigrator*/**']

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
- head-branch: ['^feature', 'feature', '^topic', 'topic']
 
# Add 'bug' label to any PR 
bug:
- head-branch: ['^fix', 'fix','^bug', 'bug']
