Repository nkdAgility/azure-devops-migration-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, enhancement-classic

✨ (docs): integrate Giscus comments in documentation layout
  docs/_layouts/default.html
Labels: documentation

🔧 (config.yml, default.html): add canonical base URL for SEO improvement 📝 (index.md): update quick links to use absolute paths for consistency
  _config.yml
  docs/_layouts/default.html
  docs/index.md
Labels: documentation

📝 (default.html): add giscus backlink meta tag for improved comment integration
  docs/_layouts/default.html
Labels: documentation

📝 (docs): update documentation layout and add known issue entry
  docs/_layouts/default.html
  docs/_layouts/reference.html
  docs/collections/_knownissues/S402625.md
Labels: documentation

Update to conrect copy
  docs/collections/_howto/creating-iteration-and-area-maps.md
Labels: documentation

📝 (docs): update MigrationTools.xml to reflect latest git metadata ♻️ (logging): integrate Serilog for enhanced debugging in option validators
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.TfsObjectModel/EndPoints/Infrastructure/TfsTeamProjectAuthentication.cs
  src/MigrationTools.Clients.TfsObjectModel/Endpoints/TfsEndpointOptions.cs
  src/MigrationTools.Clients.TfsObjectModel/Endpoints/TfsLanguageMapOptions.cs
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsWorkItemMigrationProcessorOptionsValidator.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsGitRepositoryToolOptionsValidator.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsNodeStructureToolOptions.cs
  src/MigrationTools/Options/NetworkCredentialsOptions.cs
Labels: documentation

🔧 (main.yml): add support for AFD base URL in GitHub Actions workflow
  .github/workflows/main.yml
Labels: none

🔧 (MigrationToolHost.cs): update configuration file loading logic
  src/MigrationTools.Host/MigrationToolHost.cs
Labels: none

🔧 (configuration): add default configuration files for migration tools
  configuration-default.json
  configuration3-default.json
Labels: none

♻️ (MigrationTools): refactor configuration file handling and update Git metadata
  MigrationTools.sln
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.ConsoleFull/MigrationTools.ConsoleFull.csproj
  src/MigrationTools.ConsoleFull/Properties/launchSettings.json
Labels: documentation

Update
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  docs/Reference/Generated/MigrationTools.Clients.FileSystem.xml
  docs/Reference/Generated/MigrationTools.Clients.InMemory.xml
  docs/Reference/Generated/MigrationTools.Clients.TfsObjectModel.xml
  docs/Reference/Generated/MigrationTools.xml
  docs/Reference/Generated/VstsSyncMigrator.Core.xml
  src/MigrationTools.ConsoleCore/MigrationTools.ConsoleCore.csproj
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
Labels: documentation

🔧 (main.yml): remove redundant dotnet-sonarscanner installation and update workflow dependencies
  .github/workflows/main.yml
Labels: none

🔧 (gitignore): update .gitignore to exclude generated reference docs
  .gitignore
Labels: none

📝 (docs): update configuration samples and documentation for processors and tools
  docs/_data/reference.processors.keepoutboundlinktargetprocessor.yaml
  docs/_data/reference.tools.stringmanipulatortool.yaml
  docs/collections/_reference/reference.processors.keepoutboundlinktargetprocessor.md
  docs/collections/_reference/reference.tools.stringmanipulatortool.md
Labels: documentation

Add .editorconfig
  .editorconfig
Labels: none

Remove TestExtensions project
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.TestExtensions/MigrationTools.TestExtensions.csproj
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
Labels: none

Update base directory
  docs/change-log.md
  docs/collections/_faq/work-item-is-not-ready-to-save.md
  docs/errors.md
  docs/faq.md
  docs/getstarted/index.md
  docs/getstarted/introvideos.md
  docs/index.md
  docs/setup/index.md
  docs/setup/installation.md
  docs/setup/permissions.md
  docs/setup/reflectedworkitemid.md
  docs/support.md
  docs/version-control.md
Labels: documentation

📝 (CONTRIBUTING.md): update contributing guidelines and add CLA section
  CONTRIBUTING.md
Labels: none

📝 (index.md): update documentation links and correct preview URL
  docs/index.md
Labels: documentation

⬆️ (workflows): upgrade GitHub Actions dependencies to latest versions
  .github/workflows/MigrationToolsTelemetery.yml
  .github/workflows/main.yml
  .github/workflows/stale.yml
Labels: none

Fix tests
  src/MigrationTools.Shadows/Services/FakeMigrationToolVersionInfo.cs
Labels: none

Use central package management
  .editorconfig
  Directory.Build.props
  Directory.Packages.props
  MigrationTools.sln
  docs/MigrationTools.Documentation.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest/MigrationTools.Clients.AzureDevops.Rest.csproj
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.Clients.FileSystem/MigrationTools.Clients.FileSystem.csproj
  src/MigrationTools.Clients.TfsObjectModel.Tests/MigrationTools.Clients.TfsObjectModel.Tests.csproj
  src/MigrationTools.Clients.TfsObjectModel/MigrationTools.Clients.TfsObjectModel.csproj
  src/MigrationTools.ConsoleCore/MigrationTools.ConsoleCore.csproj
  src/MigrationTools.ConsoleDataGenerator/ClassDataLoader.cs
  src/MigrationTools.ConsoleDataGenerator/MigrationTools.ConsoleDataGenerator.csproj
  src/MigrationTools.ConsoleFull/MigrationTools.ConsoleFull.csproj
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools.Shadows/MigrationTools.Shadows.csproj
  src/MigrationTools.Telemetery/MigrationTools.Telemetery.csproj
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools/MigrationTools.csproj
Labels: documentation

CS0414 The field '...' is assigned but its value is never used
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsGitRepositoryTool.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.Host/Services/DetectVersionService2.cs
Labels: none

CS0672 Member 'FileSystemWorkItemEndpoint.Count' overrides obsolete member '...'. Add the Obsolete attribute to '...'.
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.FileSystem/Endpoints/FileSystemWorkItemEndpoint.cs
  src/MigrationTools.Clients.TfsObjectModel/Endpoints/TfsEndpoint.cs
  src/MigrationTools.Clients.TfsObjectModel/Endpoints/TfsTeamProjectEndpoint.cs
  src/MigrationTools.Shadows/Endpoints/FakeEndpoint.cs
Labels: none

CS0108 '...' hides inherited member '...'. Use the new keyword if hiding was intended.
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsTestPlansAndSuitesMigrationProcessorOptions.cs
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsTestVariablesMigrationProcessorOptions.cs
  src/MigrationTools/Tools/Infrastructure/IToolOptions.cs
  src/MigrationTools/_EngineV1/Configuration/IProcessorConfig.cs
Labels: enhancement-classic

CS0169 The field '...' is never used
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsWorkItemLinkTool.cs
Labels: none

ASP0019 Use IHeaderDictionary.Append or the indexer to append or set headers. IDictionary.Add will throw an ArgumentException when attempting to add a duplicate key.
  src/MigrationTools.Telemetery/GetGraphWorkItemMetrics.cs
Labels: none

CS0168 The variable '...' is declared but never used
  src/MigrationTools.Clients.TfsObjectModel/Endpoints/TfsWorkItemConvertor.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsAttachmentTool.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsGitRepositoryTool.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsNodeStructureTool.cs
  src/MigrationTools/Services/MigrationToolVersionInfo.cs
Labels: none

CS0162 Unreachable code detected
  src/MigrationTools/Processors/Infrastructure/ProcessorOptions.cs
Labels: none

CA2200 Re-throwing caught exception changes stack information
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/ProcessDefinitionProcessor.cs
Labels: none

Fix various XML comments
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsExportUsersForMappingProcessorOptions.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsNodeStructureTool.cs
  src/MigrationTools.Host/Commands/CommandBase.cs
Labels: none

CS8765 Nullability of type of parameter 'value' doesn't match overridden member (possibly because of nullability attributes).
  src/MigrationTools.ConsoleDataGenerator/DataSerialization.cs
Labels: none

IDE0060 Remove unused parameter '...'
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/ProcessDefinitionProcessor.cs
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsAttachmentTool.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsUserMappingTool.cs
Labels: none

📝 (docs): update sidebar and index links for consistency
  docs/_includes/sidebar.html
  docs/index.md
Labels: documentation

📝 (reflectedworkitemid.md): add redirect for /server-configuration/ to improve navigation
  docs/setup/reflectedworkitemid.md
Labels: documentation

📝 (default.html): update documentation links to point to new URLs
  docs/_layouts/default.html
Labels: documentation

📝 (default.html): update preview link with backup and add rel attributes
  docs/_layouts/default.html
Labels: documentation

📝 (docs): update image path and fix URL formatting in documentation
  docs/_includes/header.html
  docs/_layouts/default.html
Labels: documentation

🔧 (main.yml): update deployment paths and comment out Jekyll build and SFTP upload steps 📝 (header.html, default.html): update URLs to use site.parent_url for consistency
  .github/workflows/main.yml
  docs/_includes/header.html
  docs/_layouts/default.html
Labels: documentation

🔧 (main.yml): remove commented-out Jekyll build and SFTP upload steps
  .github/workflows/main.yml
Labels: none

.github/labeler.yml:

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
build-action:
- changed-files:
  - any-glob-to-any-file: ['build/**', '.github/workflows/**']
- head-branch: ['^build', 'build']

enhancement:
- changed-files:
  - all-globs-to-any-file: ['src/**']

enhancement-classic:
- changed-files:
  - any-glob-to-any-file: ['src/MigrationTools/_EngineV1/**', 'src/VstsSyncMigrator*/**']

enhancement-modern:
- changed-files:
  - all-globs-to-any-file: ['src/**', '!src/MigrationTools/_EngineV1/**', '!src/VstsSyncMigrator*/**']

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
- head-branch: ['^feature', 'feature', '^topic', 'topic']
 
# Add 'bug' label to any PR 
bug:
- head-branch: ['^fix', 'fix','^bug', 'bug']
