Repository nkdAgility/azure-devops-migration-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, enhancement-classic

Move TfsTeamProjectConfig
  src/MigrationTools.Clients.AzureDevops.ObjectModel/EndPoints/TfsTeamProjectEndPointOptions.cs
Labels: none

♻️ (config): refactor configuration and endpoint options for consistency
  appsettings.json
  configuration-classic.json
  configuration.json
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/EngineConfigurationTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/FakeMigrationClientConfig.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsTestPlanMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsWorkItemMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/EndPoints/TfsTeamProjectEndPointOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/TfsExtensions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsEmbededImagesTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsNodeStructureTool.cs
  src/MigrationTools.Host.Tests/FakeMigrationClientConfig.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.Tests/Core/Clients/MigrationClientMock.cs
  src/MigrationTools.Tests/Core/Clients/WorkItemMigrationClientMock.cs
  src/MigrationTools.Tests/Core/Configuration/FakeMigrationClientConfig.cs
  src/MigrationTools/Endpoints/IEndpointOptions.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/Options/IOptions.cs
  src/MigrationTools/_EngineV1/Clients/IMigrationClient.cs
  src/MigrationTools/_EngineV1/Clients/ITestPlanMigrationClient.cs
  src/MigrationTools/_EngineV1/Clients/IWorkItemMigrationClient.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemMigrationClientBase.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
  src/MigrationTools/_EngineV1/Configuration/IMigrationClientConfig.cs
Labels: documentation, enhancement-classic

Rename WorkItemMigrationProcessor bits
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessorOptions.cs
Labels: none

Update docs
  appsettings.json
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/_data/reference.endpoints.tfsendpoint.yaml
  docs/_data/reference.endpoints.tfsteamsettingsendpoint.yaml
  docs/_data/reference.endpoints.tfsworkitemendpoint.yaml
  docs/_data/reference.processors.keepoutboundlinktargetprocessor.yaml
  docs/_data/reference.processors.tfsworkitemmigrationprocessor.yaml
  docs/_data/reference.tools.gitrepomappingtool.yaml
  docs/_data/reference.tools.tfsgitrepositorytool.yaml
  docs/_data/reference.tools.tfsnodestructuretool.yaml
  docs/collections/_reference/reference.endpoints.tfsendpoint.md
  docs/collections/_reference/reference.endpoints.tfsteamsettingsendpoint.md
  docs/collections/_reference/reference.endpoints.tfsworkitemendpoint.md
  docs/collections/_reference/reference.processors.keepoutboundlinktargetprocessor.md
  docs/collections/_reference/reference.processors.tfsworkitemmigrationprocessor.md
  docs/collections/_reference/reference.tools.gitrepomappingtool.md
  docs/collections/_reference/reference.tools.tfsgitrepositorytool.md
  docs/collections/_reference/reference.tools.tfsnodestructuretool.md
Labels: documentation

Update with removed tess
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/EngineConfigurationTests.cs
Labels: documentation

Move fikles
  src/MigrationTools/Endpoints/Infrastructure/Endpoint.cs
  src/MigrationTools/Endpoints/Infrastructure/IEndpoint.cs
  src/MigrationTools/Endpoints/Infrastructure/IWorkItemEndpoint.cs
Labels: none

Add new Endpoint management...
  src/MigrationTools/Endpoints/Infrastructure/EndpointContainer.cs
  src/MigrationTools/Endpoints/Infrastructure/EndpointContainerOptions .cs
  src/MigrationTools/Endpoints/Infrastructure/EndpointOptions.cs
  src/MigrationTools/Endpoints/Infrastructure/IEndpointOptions.cs
Labels: none

Update EndpointOptions
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessorOptions.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorOptions.cs
Labels: documentation

udpate
  docs/Reference/Generated/MigrationTools.xml
  docs/_data/reference.endpoints.tfsmigrationclient.yaml
  docs/_data/reference.processors.keepoutboundlinktargetprocessor.yaml
  docs/collections/_reference/reference.endpoints.tfsmigrationclient.md
  docs/collections/_reference/reference.processors.keepoutboundlinktargetprocessor.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsMigrationClient.cs
  src/MigrationTools/ConfigurationSectionExtensions.cs
  src/MigrationTools/MigrationTools.csproj
  src/MigrationTools/Options/OptionsManager.cs
Labels: documentation

Update endpooint
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsTeamProjectEndpoint.cs
Labels: none

Update all processors!
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsEndpointOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsWorkItemEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/CreateTeamFoldersProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportProfilePictureFromADProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportTeamListProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportUsersForMappingProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/FakeProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ImportProfilePictureProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/Infra/TfsProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestConfigurationsMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestPlansAndSuitesMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestVariablesMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemBulkEditProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemBulkEditProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemDeleteProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemPostProcessingProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemPostProcessingProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemUpdateAreasAsTagsProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsStaticTools.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/KeepOutboundLinkTargetProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/OutboundLinkCheckingProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/ProcessDefinitionProcessor.cs
  src/MigrationTools.Clients.FileSystem.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.FileSystem/Endpoints/FileSystemWorkItemEndpoint.cs
  src/MigrationTools.Integration.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Tests/Core/Clients/WorkItemMigrationClientMock.cs
  src/MigrationTools/Options/QueryOptions.cs
  src/MigrationTools/Processors/Infrastructure/Processor.cs
  src/MigrationTools/Processors/WorkItemTrackingProcessor.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/Tools/StaticTools.cs
Labels: documentation

Interim update
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/Infra/TfsProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsAttachmentTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsEmbededImagesTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsGitRepositoryInfo.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsGitRepositoryTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsNodeStructureTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsRevisionManagerTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsTeamSettingsTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsUserMappingTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsValidateRequiredFieldTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsWorkItemLinkTool.cs
  src/MigrationTools.Clients.FileSystem.Tests/Endpoints/FileSystemWorkItemEndpointTests.cs
  src/MigrationTools/IMigrationEngine.cs
  src/MigrationTools/Tools/Infrastructure/IAttachmentMigrationEnricher.cs
  src/MigrationTools/Tools/Infrastructure/Tool.cs
Labels: documentation

Build sucess
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Endpoints/TfsWorkItemEndPointTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsWorkItemQuery.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsTeamSettingsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportUsersForMappingProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/Infra/TestManagementContext.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemPostProcessingProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsAttachmentTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsGitRepositoryInfo.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsGitRepositoryTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsWorkItemEmbededLinkTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsWorkItemLinkTool.cs
Labels: documentation

Loading processor with data
  appsettings.json
  configuration.json
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/CreateTeamFoldersProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/EmptyProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportProfilePictureFromADProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportTeamListProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/FakeProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ImportProfilePictureProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemDeleteProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/KeepOutboundLinkTargetProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/OutboundLinkCheckingProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/ProcessDefinitionProcessor.cs
  src/MigrationTools/Processors/Infrastructure/IProcessorOptions.cs
  src/MigrationTools/Processors/Infrastructure/Processor.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorContainer.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorContainerOptions.cs
Labels: documentation

Migration run sucessfull!
  configuration.json
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsWorkItemMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsTeamProjectEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestPlansAndSuitesMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsNodeStructureTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsUserMappingTool.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/Endpoints/Infrastructure/EndpointRegistrationExtensions.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemMigrationClientBase.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
Labels: documentation, enhancement-classic

Update config
  configuration.json
Labels: none

Update docs
  appsettings.json
  docs/Reference/Generated/MigrationTools.xml
  docs/_data/reference.endpoints.tfsteamprojectendpoint.yaml
  docs/_data/reference.processors.keepoutboundlinktargetprocessor.yaml
  docs/_data/reference.processors.tfsworkitemmigrationprocessor.yaml
  docs/collections/_reference/reference.endpoints.tfsteamprojectendpoint.md
  docs/collections/_reference/reference.processors.keepoutboundlinktargetprocessor.md
  docs/collections/_reference/reference.processors.tfsworkitemmigrationprocessor.md
Labels: documentation

Update
  appsettings.json
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools/Endpoints/Infrastructure/EndpointRegistrationExtensions.cs
Labels: documentation

Update with tests passing (some of them)
  MigrationTools.sln
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/MigrationTools.Clients.AzureDevops.ObjectModel.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/MigrationEngineTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools - Backup.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.Clients.FileSystem.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Fakes/Endpoints/FakeEndpoint.cs
  src/MigrationTools.Fakes/MigrationTools.Shadows.csproj
  src/MigrationTools.Fakes/ServiceCollectionExtensions.cs
  src/MigrationTools.Fakes/Services/FakeMigrationToolVersion.cs
  src/MigrationTools.Fakes/Services/FakeMigrationToolVersionInfo.cs
  src/MigrationTools.Fakes/Services/TelemetryLoggerFake.cs
  src/MigrationTools.Host.Tests/FakeMigrationClientConfig.cs
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
  src/MigrationTools.Host.Tests/Services/DetectVersionService2Tests.cs
  src/MigrationTools.Integration.Tests/MigrationTools.Integration.Tests.csproj
  src/MigrationTools.Integration.Tests/ServiceProviderHelper.cs
  src/MigrationTools.TestExtensions/MigrationToolVersionFake.cs
  src/MigrationTools.Tests/Endpoints/Infrastructure/EndpointRegistrationExtensionsTests.cs
  src/MigrationTools.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Tests/Services/MigrationToolVersionInfoTests.cs
  src/MigrationTools/Endpoints/Infrastructure/IEndpoint.cs
Labels: documentation

Moreapsses
  MigrationTools.sln
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Fakes/Processors/Infrastructure/MockComplexProcessor.cs
  src/MigrationTools.Fakes/Processors/Infrastructure/MockComplexProcessorOptions.cs
  src/MigrationTools.Fakes/Processors/Infrastructure/MockSimpleProcessor.cs
  src/MigrationTools.Fakes/Processors/Infrastructure/MockSimpleProcessorOptions.cs
  src/MigrationTools.Fakes/Tools/MockSimpleFieldMap.cs
  src/MigrationTools.Fakes/Tools/SimpleFieldMapConfigMock.cs
  src/MigrationTools.Integration.Tests/AzureDevOpsObjectModelTests.cs
  src/MigrationTools.Integration.Tests/ConfigurationHelper.cs
  src/MigrationTools.Integration.Tests/MigrationTools.Integration.Tests.csproj
  src/MigrationTools.Integration.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Tests/Core/Engine/Containers/FieldMapContainerTests.cs
  src/MigrationTools.Tests/Core/Engine/Containers/ProcessorContainerTests.cs
  src/MigrationTools.Tests/Core/Engine/Containers/SimpleProcessorMock.cs
  src/MigrationTools.Tests/ServiceProviderHelper.cs
Labels: documentation

File system test passing
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.FileSystem.Tests/Endpoints/FileSystemWorkItemEndpointTests.cs
  src/MigrationTools.Clients.FileSystem.Tests/ServiceProviderHelper.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
Labels: documentation

✨ (TfsMigrationClient.cs): add support for VssClientCredentials in Prompt authentication mode
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsMigrationClient.cs
Labels: none

Update all to using MigrationTools.Shadows;
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/MigrationTools.Clients.AzureDevops.ObjectModel.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ProcessorEnrichers/TfsNodeStructureTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/MigrationEngineTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.FileSystem.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Tests/ProcessorEnrichers/StringManipulatorEnricherTests.cs
Labels: documentation

AzureDevOpsPipelineProcessorTests functioning!
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/Processors/AzureDevOpsPipelineProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/Processors/AzureDevOpsProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Fakes/Tools/MockFieldMappingTool.cs
  src/MigrationTools.Fakes/Tools/MockStringManipulatorTool.cs
  src/MigrationTools.Fakes/Tools/MockWorkItemTypeMappingTool.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/Tools/FieldMappingTool.cs
  src/MigrationTools/Tools/Interfaces/IFieldMappingTool.cs
  src/MigrationTools/Tools/Interfaces/IStringManipulatorTool.cs
  src/MigrationTools/Tools/Interfaces/IWorkItemTypeMappingTool.cs
  src/MigrationTools/Tools/StaticTools.cs
  src/MigrationTools/Tools/StringManipulatorTool.cs
  src/MigrationTools/Tools/WorkItemTypeMappingTool.cs
Labels: documentation

🔧 (configuration.json): restructure authentication configuration
  configuration.json
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/EndPoints/Infrastructure/TfsTeamProjectAuthentication.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/EndPoints/TfsTeamProjectEndPointOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsTeamProjectEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestPlansAndSuitesMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsEmbededImagesTool.cs
  src/MigrationTools/_EngineV1/Clients/IMigrationClient.cs
Labels: documentation, enhancement-classic

♻️ (tests): remove obsolete and unused test files, mark deprecated classes
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/EngineConfigurationTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/FakeMigrationClientConfig.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/MigrationEngineTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/QueryContextTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/TelemetryLoggerMock.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/WorkItemMigrationTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Tools/TfsNodeStructureTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Tools/TfsRevisionManagerTests.cs
Labels: none

✅ (tests): update TfsProcessorTests and TfsSharedQueryProcessorTests
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsSharedQueryProcessorTests.cs
Labels: none

✅ (tests): refactor TfsProcessorTests and TfsTeamSettingsProcessorTests for better DI and readability
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsTeamSettingsProcessorTests.cs
Labels: none

All tests Pass!! Woot! \n\n 📝 (docs): update MigrationTools.xml with new commit details
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Endpoints/TfsWorkItemEndPointTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsProcessorTests.cs
  src/MigrationTools/Processors/Infrastructure/Processor.cs
Labels: documentation

Update
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Host/Commands/InitMigrationCommand.cs
  src/MigrationTools.Host/Commands/InitMigrationCommandSettings.cs
  src/MigrationTools/Endpoints/Infrastructure/EndpointOptions.cs
  src/MigrationTools/MigrationTools.csproj
  src/MigrationTools/Options/OptionsManager.cs
Labels: documentation

Update almost there
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools/Options/OptionsManager.cs
Labels: documentation

Createing config now works
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Host/Commands/InitMigrationCommand.cs
  src/MigrationTools/Options/OptionsManager.cs
Labels: documentation

Update for defaults
  appsettings.json
  configuration-classic.json
  docs/Reference/Generated/MigrationTools.xml
  docs/_data/reference.endpoints.tfsteamprojectendpoint.yaml
  docs/_data/reference.fieldmaps.fieldliteralmap.yaml
  docs/_data/reference.fieldmaps.fieldmergemap.yaml
  docs/_data/reference.fieldmaps.fieldskipmap.yaml
  docs/_data/reference.fieldmaps.fieldtofieldmap.yaml
  docs/_data/reference.fieldmaps.fieldtofieldmultimap.yaml
  docs/_data/reference.fieldmaps.fieldtotagfieldmap.yaml
  docs/_data/reference.fieldmaps.fieldvaluemap.yaml
  docs/_data/reference.fieldmaps.fieldvaluetotagmap.yaml
  docs/_data/reference.fieldmaps.multivalueconditionalmap.yaml
  docs/_data/reference.fieldmaps.regexfieldmap.yaml
  docs/_data/reference.processors.keepoutboundlinktargetprocessor.yaml
  docs/_data/reference.tools.fieldmappingtool.yaml
  docs/collections/_reference/reference.endpoints.tfsteamprojectendpoint.md
  docs/collections/_reference/reference.processors.keepoutboundlinktargetprocessor.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsStaticTools.cs
  src/MigrationTools/Endpoints/Infrastructure/EndpointRegistrationExtensions.cs
  src/MigrationTools/Processors/Infrastructure/Processor.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorContainerOptions.cs
Labels: documentation

Update defautls
  appsettings.json
  docs/Reference/Generated/MigrationTools.xml
  docs/_data/reference.endpoints.tfsteamprojectendpoint.yaml
  docs/_data/reference.processors.keepoutboundlinktargetprocessor.yaml
  docs/collections/_reference/reference.endpoints.tfsteamprojectendpoint.md
  docs/collections/_reference/reference.fieldmaps.fieldliteralmap.md
  docs/collections/_reference/reference.fieldmaps.fieldmergemap.md
  docs/collections/_reference/reference.fieldmaps.fieldskipmap.md
  docs/collections/_reference/reference.fieldmaps.fieldtofieldmap.md
  docs/collections/_reference/reference.fieldmaps.fieldtofieldmultimap.md
  docs/collections/_reference/reference.fieldmaps.fieldtotagfieldmap.md
  docs/collections/_reference/reference.fieldmaps.fieldvaluemap.md
  docs/collections/_reference/reference.fieldmaps.fieldvaluetotagmap.md
  docs/collections/_reference/reference.fieldmaps.multivalueconditionalmap.md
  docs/collections/_reference/reference.fieldmaps.regexfieldmap.md
  docs/collections/_reference/reference.processors.keepoutboundlinktargetprocessor.md
  docs/collections/_reference/reference.tools.fieldmappingtool.md
  src/MigrationTools/Tools/FieldMappingTool/Infrastructure/FieldMapOptions.cs
Labels: documentation

Update to remove olf stuff
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/MigrationEngineTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/EndPoints/TfsTeamProjectEndPointOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsTeamProjectEndpoint.cs
  src/MigrationTools.Clients.FileSystem.Tests/Endpoints/FileSystemWorkItemEndpointTests.cs
  src/MigrationTools.Host.Tests/MigrationHostTests.cs
  src/MigrationTools.Host/Commands/MigrationConfigCommand.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/Endpoints/Infrastructure/EndpointOptions.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/Options/VersionOptions.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
  src/MigrationTools/_EngineV1/Configuration/IEngineConfigurationBuilder.cs
  src/MigrationTools/_EngineV1/Containers/EngineContainer.cs
Labels: documentation, enhancement-classic

Update all
  configuration-classic.json
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/MigrationEngineTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/FieldMappingTool/FieldMaps/FieldValuetoTagMap.cs
  src/MigrationTools.Clients.FileSystem.Tests/Endpoints/FileSystemWorkItemEndpointTests.cs
  src/MigrationTools.Clients.FileSystem.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Tests/Core/Engine/Containers/FieldMapContainerTests.cs
  src/MigrationTools.Tests/Core/Engine/Containers/ProcessorContainerTests.cs
  src/MigrationTools.Tests/Endpoints/Infrastructure/EndpointRegistrationExtensionsTests.cs
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools.Tests/ServiceProviderHelper.cs
  src/MigrationTools/ConfigurationSectionExtensions.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorContainer.cs
  src/MigrationTools/Tools/FieldMappingTool.cs
  src/MigrationTools/Tools/FieldMappingTool/FieldMaps/FieldValuetoTagMapOptions.cs
  src/MigrationTools/TypeExtensions.cs
Labels: documentation

Enable empty config for testing
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools/Options/VersionOptions.cs
Labels: documentation

Update
  docs/_data/reference.processors.azuredevopspipelineprocessor.yaml
  docs/_data/reference.processors.exportprofilepicturefromadprocessor.yaml
  docs/_data/reference.processors.exportusersformappingprocessor.yaml
  docs/_data/reference.processors.importprofilepictureprocessor.yaml
  docs/_data/reference.processors.keepoutboundlinktargetprocessor.yaml
  docs/_data/reference.processors.outboundlinkcheckingprocessor.yaml
  docs/_data/reference.processors.processdefinitionprocessor.yaml
  docs/_data/reference.processors.testconfigurationsmigrationprocessor.yaml
  docs/_data/reference.processors.testplansandsuitesmigrationprocessor.yaml
  docs/_data/reference.processors.testvariablesmigrationprocessor.yaml
  docs/_data/reference.processors.tfssharedqueryprocessor.yaml
  docs/_data/reference.processors.tfsteamsettingsprocessor.yaml
  docs/_data/reference.processors.tfsworkitemmigrationprocessor.yaml
  docs/_data/reference.processors.workitembulkeditprocessor.yaml
  docs/_data/reference.processors.workitemdeleteprocessor.yaml
  docs/_data/reference.processors.workitempostprocessingprocessor.yaml
  docs/_data/reference.processors.workitemtrackingprocessor.yaml
  docs/_data/reference.processors.workitemupdateareasastagsprocessor.yaml
  docs/collections/_reference/reference.processors.azuredevopspipelineprocessor.md
  docs/collections/_reference/reference.processors.exportprofilepicturefromadprocessor.md
  docs/collections/_reference/reference.processors.exportusersformappingprocessor.md
  docs/collections/_reference/reference.processors.importprofilepictureprocessor.md
  docs/collections/_reference/reference.processors.keepoutboundlinktargetprocessor.md
  docs/collections/_reference/reference.processors.outboundlinkcheckingprocessor.md
  docs/collections/_reference/reference.processors.processdefinitionprocessor.md
  docs/collections/_reference/reference.processors.testconfigurationsmigrationprocessor.md
  docs/collections/_reference/reference.processors.testplansandsuitesmigrationprocessor.md
  docs/collections/_reference/reference.processors.testvariablesmigrationprocessor.md
  docs/collections/_reference/reference.processors.tfssharedqueryprocessor.md
  docs/collections/_reference/reference.processors.tfsteamsettingsprocessor.md
  docs/collections/_reference/reference.processors.tfsworkitemmigrationprocessor.md
  docs/collections/_reference/reference.processors.workitembulkeditprocessor.md
  docs/collections/_reference/reference.processors.workitemdeleteprocessor.md
  docs/collections/_reference/reference.processors.workitempostprocessingprocessor.md
  docs/collections/_reference/reference.processors.workitemtrackingprocessor.md
  docs/collections/_reference/reference.processors.workitemupdateareasastagsprocessor.md
  src/MigrationTools.ConsoleDataGenerator/ClassDataLoader.cs
  src/MigrationTools.ConsoleDataGenerator/Program.cs
Labels: documentation

Update to fix Repo referecnes!
  appsettings.json
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsGitRepositoryTool.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Tools/TfsGitRepositoryToolOptions.cs
  src/MigrationTools.ConsoleDataGenerator/ClassDataLoader.cs
  src/MigrationTools.ConsoleDataGenerator/Program.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/Tools/FieldMappingTool/Infrastructure/FieldMapOptions.cs
  src/MigrationTools/Tools/GitRepoMappingTool.cs
  src/MigrationTools/Tools/GitRepoMappingToolOptions.cs
  src/MigrationTools/Tools/Infrastructure/ToolOptions.cs
Labels: documentation

Remove old v1 config schema logic and go full v160
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools.ConsoleFull/Program.cs
  src/MigrationTools.ConsoleFull/Properties/launchSettings.json
  src/MigrationTools.Host/BoilerplateCli.cs
  src/MigrationTools.Host/Commands/CommandBase.cs
  src/MigrationTools.Host/Commands/UpgradeConfigCommand.cs
  src/MigrationTools.Host/Commands/UpgradeConfigCommandSettings.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/Endpoints/Infrastructure/EndpointRegistrationExtensions.cs
  src/MigrationTools/Options/VersionOptions.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorContainerOptions.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/Tools/FieldMappingToolOptions.cs
Labels: documentation

.github/labeler.yml:

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
build-action:
- changed-files:
  - any-glob-to-any-file: ['build/**', '.github/workflows/**']
- head-branch: ['^build', 'build']

enhancement:
- changed-files:
  - all-globs-to-any-file: ['src/**']

enhancement-classic:
- changed-files:
  - any-glob-to-any-file: ['src/MigrationTools/_EngineV1/**', 'src/VstsSyncMigrator*/**']

enhancement-modern:
- changed-files:
  - all-globs-to-any-file: ['src/**', '!src/MigrationTools/_EngineV1/**', '!src/VstsSyncMigrator*/**']

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
- head-branch: ['^feature', 'feature', '^topic', 'topic']
 
# Add 'bug' label to any PR 
bug:
- head-branch: ['^fix', 'fix','^bug', 'bug']
