Repository nkdAgility/azure-devops-migration-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, enhancement-classic

TfsChangeSetMappingToolOptions.ChangeSetMappingFile add missing comment
  docs/data/classes/reference.tools.tfschangesetmappingtool.yaml
  docs/static/schema/configuration.schema.json
  docs/static/schema/schema.tools.tfschangesetmappingtool.json
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsChangeSetMappingToolOptions.cs
Labels: documentation

Fix tests
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/Processors/AzureDevOpsProcessorTests.cs
  src/MigrationTools.Clients.TfsObjectModel.Tests/Processors/TfsProcessorTests.cs
  src/MigrationTools.Shadows/Tools/MockExportWorkItemMappingTool.cs
Labels: none

Fix some code review issues
  src/MigrationTools/Tools/ExportWorkItemMappingTool.cs
  src/MigrationTools/Tools/ExportWorkItemMappingToolOptions.cs
Labels: none

Handle null from deserialization
  src/MigrationTools/Tools/ExportWorkItemMappingTool.cs
Labels: none

new GetImageFormat and tests #3048
  .gitignore
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/gifsample.gif
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/jpgsample.jpg
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/pngsample.png
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/svgsample.svg
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/tiffsample.tiff
  src/MigrationTools.Tests/Tools/Infrastructure/EmbededImagesRepairToolBaseTests.cs
  src/MigrationTools/Tools/Infrastructure/EmbededImagesRepairEnricherBase.cs
Labels: none

new GetImageFormat and tests #3048
  src/MigrationTools.Tests/Tools/Infrastructure/EmbededImagesRepairToolBaseTests.cs
  src/MigrationTools/Tools/Infrastructure/EmbededImagesRepairEnricherBase.cs
Labels: none

changed sample files
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/gifsample.gif
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/jpgsample.jpg
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/pngsample.png
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/svgsample.svg
Labels: none

changed sample files
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/gifsample.gif
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/jpgsample.jpg
  src/MigrationTools.Tests/Tools/Infrastructure/Assets/tiffsample.tiff
Labels: none

fixed svg detection logic and tiny files exception
  src/MigrationTools/Tools/Infrastructure/EmbededImagesRepairEnricherBase.cs
Labels: none

Update TfsWorkItemTypeValidatorTool documentation
  appsettings.json
  docs/data/classes/reference.tools.tfsworkitemtypevalidatortool.yaml
  docs/static/schema/configuration.schema.json
  docs/static/schema/schema.tools.tfsworkitemtypevalidatortool.json
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsWorkItemTypeValidatorToolOptions.cs
Labels: documentation

MSTEST0056 Use the 'DisplayName' property instead of passing a string argument to TestMethodAttribute
  src/MigrationTools.Clients.TfsObjectModel.Tests/Processors/TfsSharedQueryProcessorTests.cs
  src/MigrationTools.Clients.TfsObjectModel.Tests/Processors/TfsWorkItemMigrationProcessorTests.cs
Labels: none

MSTEST0037 Use 'Assert.HasCount' instead of 'Assert.AreEqual'
  src/MigrationTools.Clients.TfsObjectModel.Tests/Tools/TfsRevisionManagerTests.cs
  src/MigrationTools.Tests/Core/Clients/WorkItemMigrationClientTests.cs
  src/MigrationTools.Tests/Options/OptionsConfigurationUpgraderTfsNodeStructureTests.cs
  src/MigrationTools.Tests/Tools/FieldMaps/FieldCalculationMapTests.cs
Labels: none

MSTEST0037 Use 'Assert.IsEmpty' instead of 'Assert.AreEqual'
  src/MigrationTools.Clients.TfsObjectModel.Tests/Tools/TfsRevisionManagerTests.cs
  src/MigrationTools.Tests/Tools/FieldMaps/FieldCalculationMapTests.cs
Labels: none

MSTEST0044 'DataTestMethod' is obsolete. Use 'TestMethod' instead.
  src/MigrationTools.Tests/ProcessorEnrichers/StringManipulatorEnricherTests.cs
Labels: none

CS0168 The variable 'ex' is declared but never used
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
Labels: none

NU1504 Duplicate 'PackageReference' items found.
  src/MigrationTools.ConsoleDataGenerator/MigrationTools.ConsoleDataGenerator.csproj
Labels: none

MSTEST0037 Use 'Assert.IsTrue' instead of 'Assert.AreEqual'
  src/MigrationTools.Clients.TfsObjectModel.Tests/Tools/TfsRevisionManagerTests.cs
Labels: none

MSTEST0001 Explicitly enable or disable tests parallelization
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/AssemblyInfo.cs
  src/MigrationTools.Clients.FileSystem.Tests/AssemblyInfo.cs
  src/MigrationTools.Clients.TfsObjectModel.Tests/AssemblyInfo.cs
  src/MigrationTools.Host.Tests/AssemblyInfo.cs
  src/MigrationTools.Tests/AssemblyInfo.cs
Labels: none

MSTEST0017 Assertion arguments should be passed in the correct order.
  src/MigrationTools.Clients.TfsObjectModel.Tests/Processors/TfsTeamSettingsProcessorTests.cs
  src/MigrationTools.Clients.TfsObjectModel.Tests/Tools/TfsRevisionManagerTests.cs
Labels: none

Refactor GetFieldMappings for clarity and flexibility
  src/MigrationTools/Tools/FieldMappingTool.cs
Labels: none

Upgrade projects to .NET 10.0 framework
  src/MigrationTools.Clients.AzureDevops.Rest/MigrationTools.Clients.AzureDevops.Rest.csproj
  src/MigrationTools.Clients.FileSystem/MigrationTools.Clients.FileSystem.csproj
  src/MigrationTools.ConsoleCore/MigrationTools.ConsoleCore.csproj
  src/MigrationTools.ConsoleDataGenerator/MigrationTools.ConsoleDataGenerator.csproj
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools.Telemetery/MigrationTools.Telemetery.csproj
  src/MigrationTools/MigrationTools.csproj
Labels: none

Implement WorkItemMappingTool
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsStaticTools.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/Tools/Interfaces/IWorkItemMappingTool.cs
  src/MigrationTools/Tools/StaticTools.cs
  src/MigrationTools/Tools/WorkItemMappingTool.cs
  src/MigrationTools/Tools/WorkItemMappingToolOptions.cs
  src/MigrationTools/Tools/WorkItemMappingToolOptionsValidator.cs
Labels: none

Handle null from deserialization
  src/MigrationTools/Tools/ExportWorkItemMappingTool.cs
Labels: none

TfsChangeSetMappingToolOptions.ChangeSetMappingFile add missing comment
  docs/data/classes/reference.tools.tfschangesetmappingtool.yaml
  docs/static/schema/configuration.schema.json
  docs/static/schema/schema.tools.tfschangesetmappingtool.json
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsChangeSetMappingToolOptions.cs
Labels: documentation

Use OrdinalIgnoreCase key comparer for loaded dictionary of existing mapings
  src/MigrationTools/Tools/ExportWorkItemMappingTool.cs
Labels: none

Regenerate docs
  docs/data/classes/reference.tools.exportworkitemmappingtool.yaml
  docs/static/schema/configuration.schema.json
  docs/static/schema/schema.tools.exportworkitemmappingtool.json
  src/MigrationTools/Tools/ExportWorkItemMappingToolOptions.cs
Labels: documentation

Fix some code review issues
  src/MigrationTools/Tools/ExportWorkItemMappingTool.cs
  src/MigrationTools/Tools/ExportWorkItemMappingToolOptions.cs
Labels: none

Rename tool to ExportWorkItemMappingTool
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsStaticTools.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/Tools/ExportWorkItemMappingTool.cs
  src/MigrationTools/Tools/ExportWorkItemMappingToolOptions.cs
  src/MigrationTools/Tools/ExportWorkItemMappingToolOptionsValidator.cs
  src/MigrationTools/Tools/Interfaces/IExportWorkItemMappingTool.cs
  src/MigrationTools/Tools/StaticTools.cs
Labels: none

Fix tests
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/Processors/AzureDevOpsProcessorTests.cs
  src/MigrationTools.Clients.TfsObjectModel.Tests/Processors/TfsProcessorTests.cs
  src/MigrationTools.Shadows/Tools/MockExportWorkItemMappingTool.cs
Labels: none

Some more fixes from code review
  src/MigrationTools/Tools/ExportWorkItemMappingTool.cs
Labels: none

Tools are disabled by default if not enabled in config, so there is no need to disable it explicitly
  src/MigrationTools/Tools/ExportWorkItemMappingToolOptions.cs
Labels: none

Fix argument type
  src/MigrationTools/Tools/ExportWorkItemMappingTool.cs
Labels: none

Fix default value in DOC comment
  docs/data/classes/reference.tools.exportworkitemmappingtool.yaml
  docs/static/schema/configuration.schema.json
  docs/static/schema/schema.tools.exportworkitemmappingtool.json
  src/MigrationTools/Tools/ExportWorkItemMappingToolOptions.cs
Labels: documentation

Add CreatedDate and OriginalCreatedDate fields
  src/MigrationTools.Clients.TfsObjectModel/Endpoints/TfsWorkItemConvertor.cs
Labels: none

Refactor date enforcement logic in TfsRevisionManagerTool
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsRevisionManagerTool.cs
Labels: none

Add CreatedDate and OriginalCreatedDate to RevisionItem
  src/MigrationTools.Clients.TfsObjectModel.Tests/Tools/TfsRevisionManagerTests.cs
Labels: none

Add CreatedDate and OriginalCreatedDate properties
  src/MigrationTools/DataContracts/RevisionItem.cs
Labels: none

Add project validation and retrieval functionality
  src/MigrationTools.Clients.TfsObjectModel/Clients/TfsWorkItemMigrationClient.cs
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
  src/MigrationTools.Tests/Core/Clients/WorkItemMigrationClientMock.cs
  src/MigrationTools/_EngineV1/Clients/IWorkItemMigrationClient.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemMigrationClientBase.cs
Labels: enhancement-classic

Added seconds to WorkItemMigrationProcessor estimation
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsWorkItemMigrationProcessor.cs
Labels: none

Updates users map generation and process.
  Directory.Packages.props
  src/MigrationTools.Clients.TfsObjectModel.Tests/MigrationTools.Clients.TfsObjectModel.Tests.csproj
  src/MigrationTools.Clients.TfsObjectModel.Tests/Tools/TfsUserMappingToolTests.cs
  src/MigrationTools.Clients.TfsObjectModel/Processors/TfsExportUsersForMappingProcessor.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsUserMappingTool.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsUserMappingToolOptions.cs
  src/MigrationTools.ConsoleFull/MigrationTools.ConsoleFull.csproj
Labels: none

.github/labeler.yml:

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
build-action:
- changed-files:
  - any-glob-to-any-file: ['build/**', '.github/workflows/**']
- head-branch: ['^build', 'build']

enhancement:
- changed-files:
  - all-globs-to-any-file: ['src/**']

enhancement-classic:
- changed-files:
  - any-glob-to-any-file: ['src/MigrationTools/_EngineV1/**', 'src/VstsSyncMigrator*/**']

enhancement-modern:
- changed-files:
  - all-globs-to-any-file: ['src/**', '!src/MigrationTools/_EngineV1/**', '!src/VstsSyncMigrator*/**']

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
- head-branch: ['^feature', 'feature', '^topic', 'topic']
 
# Add 'bug' label to any PR 
bug:
- head-branch: ['^fix', 'fix','^bug', 'bug']
