Repository nkdAgility/azure-devops-migration-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, enhancement-classic

.github/labeler.yml:

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
build-action:
- changed-files:
  - any-glob-to-any-file: ['build/**', '.github/workflows/**']
- head-branch: ['^build', 'build']

enhancement:
- changed-files:
  - all-globs-to-any-file: ['src/**']

enhancement-classic:
- changed-files:
  - any-glob-to-any-file: ['src/MigrationTools/_EngineV1/**', 'src/VstsSyncMigrator*/**']

enhancement-modern:
- changed-files:
  - all-globs-to-any-file: ['src/**', '!src/MigrationTools/_EngineV1/**', '!src/VstsSyncMigrator*/**']

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
- head-branch: ['^feature', 'feature', '^topic', 'topic']
 
# Add 'bug' label to any PR 
bug:
- head-branch: ['^fix', 'fix','^bug', 'bug']

♻️ (MigrationTools): update migration config schema version from v2 to v160
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/Options/VersionOptions.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/FieldMappingToolOptions.cs
  src/MigrationTools/Processors/ProcessorContainerOptions.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
Labels: enhancement-classic

♻️ (MigrationTools): move deprecation warning to VersionOptions.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/Options/VersionOptions.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
Labels: none

♻️ (MigrationTools): refactor GetMigrationConfigVersion to return a tuple
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/Options/VersionOptions.cs
  src/MigrationTools/Processors/ProcessorContainerOptions.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
Labels: none

💡 (VersionOptions.cs): comment out deprecated configuration warning message
  src/MigrationTools/Options/VersionOptions.cs
Labels: none

✨ (appsettings.json, WorkItemMigrationConfig.cs): add configuration for WorkItemMigration processor
  appsettings.json
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemMigrationConfig.cs
Labels: enhancement-classic

♻️ (ServiceCollectionExtensions.cs): access schema property in GetMigrationConfigVersion
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
Labels: none

📝 (docs): update MigrationTools.xml with new commit details
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/FieldMappingToolOptions.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
  src/VstsSyncMigrator.Core.Tests/EngineConfigurationTests.cs
  src/VstsSyncMigrator.Core.Tests/MigrationEngineTests.cs
Labels: documentation, enhancement-classic

⬆️ (deps): upgrade MSTest and Serilog dependencies
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/MigrationTools.Clients.AzureDevops.ObjectModel.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools.Integration.Tests/MigrationTools.Integration.Tests.csproj
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools/MigrationTools.csproj
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
Labels: enhancement-classic

♻️ (docs, src): remove obsolete methods and update configuration handling
  docs/Reference/Generated/MigrationTools.xml
  docs/Reference/Generated/VstsSyncMigrator.Core.xml
  src/MigrationTools/_EngineV1/Containers/IProcessor.cs
  src/MigrationTools/_EngineV1/Processors/MigrationProcessorBase.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/ExportUsersForMapping.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/FakeProcessor.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TeamMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestConfigurationsMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestVariablesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemPostProcessingContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemQueryMigrationContext.cs
  src/VstsSyncMigrator.Core/ServiceCollectionExtensions.cs
Labels: documentation, enhancement-classic

♻️ (refactor): remove redundant Configure methods and update config handling
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools/_EngineV1/Processors/StaticProcessorBase.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/CreateTeamFolders.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ExportProfilePictureFromADContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ExportTeamList.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/FixGitCommitLinks.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ImportProfilePictureContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemBulkEditProcessor.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemDelete.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemUpdateAreasAsTagsContext.cs
Labels: documentation, enhancement-classic

📝 (docs): update sidebar and add installation guide
  docs/_includes/sidebar.html
  docs/getting-started.md
  docs/installation.md
Labels: documentation

🔧 (main.yml): add base URL configuration and Ruby setup for Jekyll build
  .github/workflows/main.yml
Labels: none

📝 (getting-started.md): update broken links in documentation
  docs/getting-started.md
Labels: documentation

Move
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsReflectedWorkItemId.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsTestPlanMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsWorkItemMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsWorkItemQuery.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Configuration/TfsTeamProjectConfig.cs
Labels: none

🔧 (csproj): add _Enginev1 folder to project file
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
Labels: none

♻️ (TfsWorkItemAttachmentEnricher): remove unused TfsWorkItemAttachmentEnricher and related options
  src/MigrationTools.Clients.AzureDevops.ObjectModel/EndpointEnrichers/TfsWorkItemAttachmentEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/EndpointEnrichers/TfsWorkItemAttachmentEnricherOptions.cs
Labels: none

🔧 (csproj): rename folder from _Enginev1 to EndpointEnrichers
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
Labels: none

♻️ (FieldMappingTool): refactor FieldMappingTool to use new Tool infrastructure 🔧 (configuration.json): update configuration schema to support multiple sources and targets
  configuration.json
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools/Tools/FieldMappingTool.cs
  src/MigrationTools/Tools/FieldMappingToolOptions.cs
  src/MigrationTools/Tools/Infra/ITool.cs
  src/MigrationTools/Tools/Infra/IToolOptions.cs
  src/MigrationTools/Tools/Infra/Tool.cs
  src/MigrationTools/Tools/Infra/ToolOptions.cs
Labels: documentation

📝 (docs): update MigrationTools.xml and VstsSyncMigrator.Core.xml with latest commit details and processor renaming
  docs/Reference/Generated/MigrationTools.xml
  docs/Reference/Generated/VstsSyncMigrator.Core.xml
  src/VstsSyncMigrator.Core/Execution/ComponentContext/TestManagementContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/ConfigException.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/ExportUsersForMapping.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/FakeProcessor.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestConfigurationsMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestVariablesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemPostProcessingContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/CreateTeamFolders.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ExportProfilePictureFromADContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ExportTeamList.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/FixGitCommitLinks.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ImportProfilePictureContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemBulkEditProcessor.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemDelete.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemUpdateAreasAsTagsContext.cs
  src/VstsSyncMigrator.Core/Execution/TfsMigrationProcessorBase.cs
  src/VstsSyncMigrator.Core/Execution/TfsStaticProcessorBase.cs
  src/VstsSyncMigrator.Core/ServiceCollectionExtensions.cs
Labels: documentation, enhancement-classic

♻️ (refactor): update namespace from VstsSyncMigrator.Engine to MigrationTools.Processors
  docs/Reference/Generated/VstsSyncMigrator.Core.xml
  src/VstsSyncMigrator.Core.Tests/WorkItemMigrationTests.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/CreateTeamFolders.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ExportProfilePictureFromADContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ExportTeamList.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/FixGitCommitLinks.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ImportProfilePictureContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemBulkEditProcessor.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemDelete.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemUpdateAreasAsTagsContext.cs
  src/VstsSyncMigrator.Core/ServiceCollectionExtensions.cs
Labels: documentation, enhancement-classic

Rename a bunchof old stuff
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/CreateTeamFoldersProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportProfilePictureFromADProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportProfilePictureFromADProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportTeamListProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportUsersForMappingProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportUsersForMappingProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/FakeProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/FixGitCommitLinksProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/FixGitCommitLinksProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ImportProfilePictureProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ImportProfilePictureProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/Infra/ConfigException.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/Infra/TestManagementContext.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/Infra/TfsMigrationProcessorBase.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/Infra/TfsStaticProcessorBase.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestConfigurationsMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestConfigurationsMigrationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestPlansAndSuitesMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestPlansAndSuitesMigrationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestVariablesMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestVariablesMigrationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemBulkEditProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemBulkEditProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemDeleteProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemDeleteProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemMigrationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemMigrationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemPostProcessingProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemPostProcessingProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemUpdateAreasAsTagsProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemUpdateAreasAsTagsProcessorOptions.cs
Labels: none

Move rest of old goodies
  MigrationTools.sln
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/Generated/MigrationTools.xml
  docs/Reference/Generated/VstsSyncMigrator.Core.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/EngineConfigurationTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/FakeMigrationClientConfig.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/MigrationEngineTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/QueryContextTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/TelemetryLoggerMock.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/Infra/WorkItemMigrationTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
Labels: documentation, enhancement-classic

Delete eronious stuff
  src/VstsSyncMigrator.Core.Tests/ApplicationInsights.config
  src/VstsSyncMigrator.Core.Tests/EngineConfigurationTests.cs
  src/VstsSyncMigrator.Core.Tests/FakeMigrationClientConfig.cs
  src/VstsSyncMigrator.Core.Tests/MigrationEngineTests.cs
  src/VstsSyncMigrator.Core.Tests/QueryContextTests.cs
  src/VstsSyncMigrator.Core.Tests/TelemetryLoggerMock.cs
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
  src/VstsSyncMigrator.Core.Tests/WorkItemMigrationTests.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/ExcelMigrationContext.cs
  src/VstsSyncMigrator.Core/ServiceCollectionExtensions.cs
  src/VstsSyncMigrator.Core/VstsSyncMigrator - Backup.Core.csproj
  src/VstsSyncMigrator.Core/VstsSyncMigrator.Core.csproj
Labels: enhancement-classic

♻️ (solution): remove redundant project entries and update project references 🔧 (config): update processor type in configuration-classic.json
  MigrationTools.sln
  configuration-classic.json
  configuration.json
Labels: none

🔧 (csproj): remove VstsSyncMigrator.Core project reference
  src/MigrationTools.ConsoleDataGenerator/MigrationTools.ConsoleDataGenerator.csproj
Labels: none

📝 (MigrationTools.xml): update Git metadata in documentation ✅ (TfsNodeStructureTests.cs): fix test setup for AreaMaps dictionary initialization
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ProcessorEnrichers/TfsNodeStructureTests.cs
Labels: documentation

⬆️ (Gemfile.lock): add support for x86_64-linux platform dependencies
  Gemfile.lock
Labels: none

⬆️ (main.yml): upgrade Ruby version from 3.1 to 3.2 in GitHub Actions workflow
  .github/workflows/main.yml
Labels: none

🔧 (spellcheck.yaml): update spellcheck configuration to include more markdown files
  spellcheck.yaml
Labels: none

🔧 (main.yml): update docs_deploy_folder and docs_baseURL to include branch name
  .github/workflows/main.yml
Labels: none

🔧 (main.yml): fix syntax for string interpolation in GitHub Actions workflow
  .github/workflows/main.yml
Labels: none

💡 (main.yml): add branch name logging to GitHub Actions workflow
  .github/workflows/main.yml
Labels: none

🔧 (main.yml): sanitize branch name for safe usage in paths and URLs
  .github/workflows/main.yml
Labels: none

🔧 (main.yml): update workflow dependencies and conditions for DocsRelease job
  .github/workflows/main.yml
Labels: none

🔧 (main.yml): comment out dry-run configuration for SFTP upload
  .github/workflows/main.yml
Labels: none

📝 (docs): update content-collection-table to remove architecture filter ✨ (header): add Azure DevOps Migration Services button 💄 (css): add styles for new button class
  docs/_includes/content-collection-table.html
  docs/_includes/header.html
  docs/assets/css/main.css
  docs/index.md
Labels: documentation

Update class infra
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportProfilePictureFromADProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ExportUsersForMappingProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/FixGitCommitLinksProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/ImportProfilePictureProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestConfigurationsMigrationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestPlansAndSuitesMigrationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TestVariablesMigrationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemBulkEditProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemDeleteProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemMigrationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemPostProcessingProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/WorkItemUpdateAreasAsTagsProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/KeepOutboundLinkTargetProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/OutboundLinkCheckingProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/ProcessDefinitionProcessorOptions.cs
  src/MigrationTools.ConsoleDataGenerator/ClassDataLoader.cs
  src/MigrationTools/EndpointEnrichers/EndpointEnricherContainer.cs
  src/MigrationTools/EndpointEnrichers/EndpointEnricherOptions.cs
  src/MigrationTools/Enrichers/IEnricherOptions.cs
  src/MigrationTools/Options/IOptions.cs
  src/MigrationTools/ProcessorEnrichers/PauseAfterEachItemOptions.cs
  src/MigrationTools/ProcessorEnrichers/ProcessorEnricherContainer.cs
  src/MigrationTools/ProcessorEnrichers/ProcessorEnricherOptions.cs
  src/MigrationTools/Processors/IProcessorOptions.cs
  src/MigrationTools/Processors/ProcessorOptions.cs
  src/MigrationTools/Processors/WorkItemProcessor/WorkItemTrackingProcessorOptions.cs
  src/MigrationTools/Tools/Infra/IToolOptions.cs
  src/MigrationTools/Tools/Infra/ToolOptions.cs
  src/MigrationTools/TypeExtensions.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
Labels: documentation, enhancement-classic

Rename of files
  src/MigrationTools/Processors/Enrichers/IProcessorEnricher.cs
  src/MigrationTools/Processors/Enrichers/IProcessorEnricherOptions.cs
  src/MigrationTools/Processors/Enrichers/PauseAfterEachItem.cs
  src/MigrationTools/Processors/Enrichers/PauseAfterEachItemOptions.cs
  src/MigrationTools/Processors/Enrichers/ProcessorEnricherContainer.cs
  src/MigrationTools/Processors/Enrichers/ProcessorEnricherOptions.cs
  src/MigrationTools/Processors/Enrichers/WorkItemProcessorEnrichers/IWorkItemProcessorEnricher.cs
  src/MigrationTools/Processors/Enrichers/WorkItemProcessorEnrichers/IWorkItemProcessorSourceEnricher.cs
  src/MigrationTools/Processors/Enrichers/WorkItemProcessorEnrichers/IWorkItemProcessorTargetEnricher.cs
  src/MigrationTools/Processors/Enrichers/WorkItemProcessorEnrichers/WorkItemProcessorEnricher.cs
  src/MigrationTools/Processors/Infrastructure/IProcessor.cs
  src/MigrationTools/Processors/Infrastructure/IProcessor2.cs
  src/MigrationTools/Processors/Infrastructure/IProcessorOptions.cs
  src/MigrationTools/Processors/Infrastructure/MigrationProcessorBase.cs
  src/MigrationTools/Processors/Infrastructure/Processor.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorContainer.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorContainerOptions.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorOptions.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorStatus.cs
  src/MigrationTools/Processors/Infrastructure/ProcessorType.cs
  src/MigrationTools/Processors/Infrastructure/StaticProcessorBase.cs
  src/MigrationTools/Processors/WorkItemTrackingProcessor.cs
  src/MigrationTools/Processors/WorkItemTrackingProcessorOptions.cs
Labels: none

Remove old stuff
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools/MigrationTools.csproj
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
  src/MigrationTools/_EngineV1/Configuration/Processing/FakeProcessorConfig.cs
  src/MigrationTools/_EngineV1/Configuration/Processing/TeamMigrationConfig.cs
  src/MigrationTools/_EngineV1/Configuration/Processing/TestRunsMigrationConfig.cs
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemQueryMigrationConfig.cs
Labels: documentation, enhancement-classic

Remove old folders
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools/MigrationTools.csproj
Labels: documentation
