Repository nkdAgility/azure-devops-migration-tools, pull requests merged in 2020-10, with the labels that each got.

#600 fixed target project selection for work item migration
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: Urgent Fix

#601 Refactor/work item migration context
  MigrationTools.sln
  configuration.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/WorkItemMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/AttachmentMigrationEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/EmbededImagesRepairEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/GitRepositoryEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/NodeStructureEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/WorkItemLinkEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Extensions.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Enrichers/AttachmentMigrationEnricher.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Enrichers/EmbededImagesRepairEnricher.cs
  src/MigrationTools.ConsoleFull/Program.cs
  src/MigrationTools.Samples/configuration.json
  src/MigrationTools.Tests/Core/Clients/WorkItemMigrationClientMock.cs
  src/MigrationTools/Clients/IWorkItemMigrationClient.cs
  src/MigrationTools/Clients/WorkItemMigrationClientBase.cs
  src/MigrationTools/Configuration/IWorkItemProcessorConfig.cs
  src/MigrationTools/Configuration/Processing/WorkItemDeleteConfig.cs
  src/MigrationTools/Configuration/Processing/WorkItemMigrationConfig.cs
  src/MigrationTools/Configuration/Processing/WorkItemPostProcessingConfig.cs
  src/MigrationTools/Configuration/Processing/WorkItemUpdateConfig.cs
  src/MigrationTools/DataContracts/WorkItemData.cs
  src/MigrationTools/Enrichers/EmbededImagesRepairEnricherBase.cs
  src/MigrationTools/Enrichers/IAttachmentMigrationEnricher.cs
  src/MigrationTools/Enrichers/IEmbededImagesRepairEnricher.cs
  src/MigrationTools/Enrichers/IWorkItemEnricher.cs
  src/MigrationTools/IMigrationEngine.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemPostProcessingContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/FixGitCommitLinks.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemDelete.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemUpdate.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemUpdateAreasAsTagsContext.cs
  src/VstsSyncMigrator.Core/MigrationContextExtensions.cs
  src/VstsSyncMigrator.Core/ObjectModelExtensions.cs
Labels: Refactor, Urgent Fix

#591 don't show json of the version numbers
  src/MigrationTools.Host/StartupService.cs
Labels: Refactor

#611 Migrate AI to Worker
  ApplicationInsights.config
  src/MigrationTools.ConsoleCore/MigrationTools.ConsoleCore.csproj
  src/MigrationTools.ConsoleCore/appsettings.json
  src/MigrationTools.ConsoleFull/MigrationTools.ConsoleFull.csproj
  src/MigrationTools.ConsoleFull/appsettings.json
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.Tests/Services/TelemetryLoggerMock.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/Services/ITelemetryLogger.cs
  src/MigrationTools/Services/TelemetryClientAdapter.cs
  src/VstsSyncMigrator.Core.Tests/TelemetryLoggerMock.cs
Labels: enhancement

#614 Refactor/tracetozero#2
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.Tests/MigrationHostTests.cs
  src/MigrationTools/MigrationEngine.cs
  src/VstsSyncMigrator.Core.Tests/MigrationEngineTests.cs
  src/VstsSyncMigrator.Core.Tests/TelemetryLoggerMock.cs
  src/VstsSyncMigrator.Core/Commands/ExportADGroupsCommand.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TeamMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestRunsMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestVeriablesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemPostProcessingContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemQueryMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/CreateTeamFolders.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ExportProfilePictureFromADContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ExportTeamList.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/FixGitCommitLinks.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ImportProfilePictureContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemDelete.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemUpdate.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemUpdateAreasAsTagsContext.cs
Labels: Refactor

#623 Bug/622
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/NodeStructureEnricher.cs
  src/MigrationTools/Configuration/EngineConfigurationBuilder.cs
  src/MigrationTools/Configuration/Processing/WorkItemMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: Urgent Fix, exception

#627 Resolution for TypeDefinitionMaps failures
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: Urgent Fix, exception

#630 Ypdate GitRepoMapContainer to never be null
  src/MigrationTools/Engine/Containers/GitRepoMapContainer.cs
Labels: Urgent Fix

#628 Small update to SaveToAzureDevOps to prevent eronious logs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/WorkItemLinkEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Extensions.cs
Labels: enhancement

#629 Fix QueryBit to new name in config
  configuration.json
Labels: Refactor

#631 Refactor/#613
  configuration.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/MigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TestPlanMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/WorkItemMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/WorkItemQuery.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Configuration/TeamProjectConfig.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/EmbededImagesRepairEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/GitRepositoryEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/GitRepositoryInfo.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/NodeStructureEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Extensions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
  src/MigrationTools.ConsoleFull/Properties/launchSettings.json
  src/MigrationTools.Tests/Core/Clients/MigrationClientMock.cs
  src/MigrationTools.Tests/Core/Clients/WorkItemMigrationClientMock.cs
  src/MigrationTools.Tests/Core/Configuration/EngineConfigurationBuilderTests.cs
  src/MigrationTools.Tests/Core/Configuration/EngineConfigurationTests.cs
  src/MigrationTools.Tests/Core/Configuration/FakeMigrationClientConfig.cs
  src/MigrationTools/Clients/IMigrationClient.cs
  src/MigrationTools/Clients/ITestPlanMigrationClient.cs
  src/MigrationTools/Clients/IWorkItemMigrationClient.cs
  src/MigrationTools/Clients/WorkItemMigrationClientBase.cs
  src/MigrationTools/Configuration/EngineConfiguration.cs
  src/MigrationTools/Configuration/EngineConfigurationBuilder.cs
  src/MigrationTools/Configuration/IMigrationClientConfig.cs
  src/MigrationTools/Configuration/MigrationClientConfigJsonConverter.cs
  src/MigrationTools/Configuration/TeamProjectConfig.cs
  src/MigrationTools/Engine/Processors/MigrationProcessorBase.cs
  src/MigrationTools/Engine/Processors/StaticProcessorBase.cs
  src/MigrationTools/InitHostedService.cs
  src/MigrationTools/MigrationEngine.cs
  src/VstsSyncMigrator.Core.Tests/EngineConfigurationTests.cs
  src/VstsSyncMigrator.Core.Tests/FakeMigrationClientConfig.cs
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
  src/VstsSyncMigrator.Core/Execution/ComponentContext/TestManagementContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TeamMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestConfigurationsMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemQueryMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/CreateTeamFolders.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/ExportTeamList.cs
Labels: enhancement

#636 Choice of genreating Migration comment
  src/MigrationTools/Configuration/Processing/WorkItemMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: enhancement

#639 Fixed #637
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/MigrationClient.cs
  src/MigrationTools/MigrationEngine.cs
Labels: Urgent Fix

#644 Exit on malformed config
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.Host/StartupService.cs
  src/MigrationTools/Configuration/EngineConfigurationBuilder.cs
Labels: enhancement

#648 Fix potential Microsoft.TeamFoundation.WorkItemTracking.Client.DeniedOrNotExistException…
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/WorkItemLinkEnricher.cs
Labels: enhancement, exception

#651 Default SkipToFinalRevisedWorkItemType to true
  docs/Processors/WorkItemMigrationConfig.md
  src/MigrationTools/Configuration/Processing/WorkItemMigrationConfig.cs
Labels: Urgent Fix, enhancement, exception

#658 Documentation update for 11.6
  docs/Processors/AttachementExportMigrationConfig.md
  docs/Processors/AttachementImportMigrationConfig.md
  docs/Processors/FixGitCommitLinksConfig.md
  docs/Processors/HtmlFieldEmbeddedImageMigrationConfig.md
  docs/Processors/LinkMigrationConfig.md
  docs/Processors/NodeStructuresMigrationConfig.md
  docs/Processors/TestVariablesMigrationConfig.md
  docs/Processors/WorkItemDeleteConfig.md
  docs/Processors/WorkItemMigrationConfig.md
  docs/Processors/WorkItemQueryMigrationConfig.md
  docs/Processors/WorkItemRevisionReplayMigrationConfig.md
  docs/Processors/WorkItemUpdateConfig.md
  docs/configuration.md
  docs/getting-started.md
  docs/index.md
Labels: documentation

#667 Throw helpful error for unknown ObjectType
  src/MigrationTools/Configuration/MigrationClientConfigJsonConverter.cs
Labels: enhancement

#659 Feature/654
  configuration.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsReflectedWorkItemId.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsWiqlDefinition.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsWorkItemMigrationClient.cs
  src/MigrationTools.Tests/Core/Clients/WorkItemMigrationClientMock.cs
  src/MigrationTools/Clients/IWorkItemMigrationClient.cs
  src/MigrationTools/Clients/ReflectedWorkItemId.cs
  src/MigrationTools/Clients/WorkItemMigrationClientBase.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: Urgent Fix, exception
