Repository nkdAgility/azure-devops-migration-tools, pull requests merged in 2020-11, with the labels that each got.

#677 Fix FilterExistingWorkItems
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsWorkItemMigrationClient.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: enhancement

#689 Fix ReflectedWorkItemId to support blanks in project names as this is allowed
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Clients/TfsReflectedWorkItemId.cs
Labels: Urgent Fix

#698 Added validation for each work item type that is in scope for a query
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsValidateRequiredField.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsValidateRequiredFieldOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/FilterWorkItemsThatAlreadyExistInTarget.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/WorkItemProcessorEnricher.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: enhancement

#700 Added debug that might help #692
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TeamMigrationContext.cs
Labels: enhancement

#736 Change to ReflectedWorkItemId Field Setting Code
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: Refactor

#738 Updated Logging
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsReflectedWorkItemId.cs
Labels: Urgent Fix, exception

#743 Enable IOptions to be referenced.
  docs/Reference/EndpointEnrichers/TfsWorkItemAttachmentEnricher.json
  docs/Reference/EndpointEnrichers/TfsWorkItemAttachmentEnricher.md
  docs/Reference/Endpoints/FileSystemWorkItemEndpoint.json
  docs/Reference/Endpoints/FileSystemWorkItemEndpoint.md
  docs/Reference/Endpoints/TfsEndpoint.json
  docs/Reference/Endpoints/TfsEndpoint.md
  docs/Reference/Endpoints/TfsTeamSettingsEndpoint.json
  docs/Reference/Endpoints/TfsTeamSettingsEndpoint.md
  docs/Reference/Endpoints/TfsWorkItemEndpoint.json
  docs/Reference/Endpoints/TfsWorkItemEndpoint.md
  docs/Reference/Generated/MigrationTools.xml
  docs/Reference/ProcessorEnrichers/AppendMigrationToolSignatureFooter.json
  docs/Reference/ProcessorEnrichers/AppendMigrationToolSignatureFooter.md
  docs/Reference/ProcessorEnrichers/FilterWorkItemsThatAlreadyExistInTarget.json
  docs/Reference/ProcessorEnrichers/FilterWorkItemsThatAlreadyExistInTarget.md
  docs/Reference/ProcessorEnrichers/PauseAfterEachItem.json
  docs/Reference/ProcessorEnrichers/PauseAfterEachItem.md
  docs/Reference/ProcessorEnrichers/SkipToFinalRevisedWorkItemType.json
  docs/Reference/ProcessorEnrichers/SkipToFinalRevisedWorkItemType.md
  docs/Reference/ProcessorEnrichers/TfsValidateRequiredField.json
  docs/Reference/ProcessorEnrichers/TfsValidateRequiredField.md
  docs/Reference/Processors/TfsSharedQueryProcessor.json
  docs/Reference/Processors/TfsSharedQueryProcessor.md
  docs/Reference/Processors/TfsTeamSettingsProcessor.json
  docs/Reference/Processors/TfsTeamSettingsProcessor.md
  docs/Reference/Processors/WorkItemTrackingProcessor.json
  docs/Reference/Processors/WorkItemTrackingProcessor.md
  src/MigrationTools/EndPoints/EndPointContainer.cs
  src/MigrationTools/EndPoints/EndpointOptions.cs
  src/MigrationTools/EndPoints/RefEndpointOptions.cs
  src/MigrationTools/EndpointEnrichers/EndpointEnricherOptions.cs
  src/MigrationTools/Helpers/NewtonsoftHelpers.cs
  src/MigrationTools/Options/IOptions.cs
  src/MigrationTools/Options/OptionsSerializeContractResolver.cs
  src/MigrationTools/ProcessorEnrichers/ProcessorEnricherOptions.cs
  src/MigrationTools/Processors/ProcessorOptions.cs
Labels: documentation, enhancement

#746 Deprecate & Fix
  .editorconfig.inferred
  MigrationTools.sln
  docs/Reference/EndpointEnrichers/TfsWorkItemAttachmentEnricher.json
  docs/Reference/EndpointEnrichers/TfsWorkItemAttachmentEnricher.md
  docs/Reference/Endpoints/FileSystemWorkItemEndpoint.json
  docs/Reference/Endpoints/FileSystemWorkItemEndpoint.md
  docs/Reference/Endpoints/TfsEndpoint.json
  docs/Reference/Endpoints/TfsEndpoint.md
  docs/Reference/Endpoints/TfsTeamSettingsEndpoint.json
  docs/Reference/Endpoints/TfsTeamSettingsEndpoint.md
  docs/Reference/Endpoints/TfsWorkItemEndpoint.json
  docs/Reference/Endpoints/TfsWorkItemEndpoint.md
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/Generated/MigrationTools.xml
  docs/Reference/Generated/VstsSyncMigrator.Core.xml
  docs/Reference/ProcessorEnrichers/AppendMigrationToolSignatureFooter.json
  docs/Reference/ProcessorEnrichers/AppendMigrationToolSignatureFooter.md
  docs/Reference/ProcessorEnrichers/FilterWorkItemsThatAlreadyExistInTarget.json
  docs/Reference/ProcessorEnrichers/FilterWorkItemsThatAlreadyExistInTarget.md
  docs/Reference/ProcessorEnrichers/PauseAfterEachItem.json
  docs/Reference/ProcessorEnrichers/PauseAfterEachItem.md
  docs/Reference/ProcessorEnrichers/SkipToFinalRevisedWorkItemType.json
  docs/Reference/ProcessorEnrichers/SkipToFinalRevisedWorkItemType.md
  docs/Reference/ProcessorEnrichers/TfsValidateRequiredField.json
  docs/Reference/ProcessorEnrichers/TfsValidateRequiredField.md
  docs/Reference/Processors/TfsSharedQueryProcessor.json
  docs/Reference/Processors/TfsSharedQueryProcessor.md
  docs/Reference/Processors/TfsTeamSettingsProcessor.json
  docs/Reference/Processors/TfsTeamSettingsProcessor.md
  docs/Reference/Processors/WorkItemTrackingProcessor.json
  docs/Reference/Processors/WorkItemTrackingProcessor.md
  docs/Reference/index.md
  docs/index.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/MigrationTools.Clients.AzureDevops.ObjectModel.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsReflectedWorkItemId.cs
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.Clients.InMemory.Tests/MigrationTools.Clients.InMemory.Tests.csproj
  src/MigrationTools.ConsoleConfigGenerator/Program.cs
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools.Integration.Tests/MigrationTools.Integration.Tests.csproj
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools/MigrationTools.csproj
  src/MigrationTools/Options/OptionsSerializeContractResolver.cs
  src/MigrationTools/Processors/IProcessorOptions.cs
  src/MigrationTools/Processors/ProcessorOptions.cs
  src/MigrationTools/_EngineV1/DataContracts/WorkItemData.cs
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TeamMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemQueryMigrationContext.cs
  src/VstsSyncMigrator.Core/VstsSyncMigrator.Core.csproj
Labels: Refactor

#752 Added Trace for list of sortedRevisions
  configuration.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel/TfsExtensions.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: Urgent Fix

#755 targetWorkItemLinkStart.Id == "0
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
Labels: exception

#758 Makes the TfsTeamSettingsProcessor runnable
  docs/Reference/Processors/TfsTeamSettingsProcessor.json
  docs/Reference/Processors/TfsTeamSettingsProcessor.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
Labels: help wanted

#761 Fixed Processor Naming
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
  src/MigrationTools/Processors/WorkItemProcessor/WorkItemTrackingProcessorOptions.cs
Labels: enhancement

#762 Moved ToConfigure to Base ProcessorOptions class
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
  src/MigrationTools/Processors/ProcessorOptions.cs
  src/MigrationTools/Processors/WorkItemProcessor/WorkItemTrackingProcessorOptions.cs
Labels: Refactor

#763 Added TfsNodeStructure Enricher
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/ProcessorEnrichers/TfsNodeStructure.json
  docs/Reference/ProcessorEnrichers/TfsNodeStructure.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsNodeStructure.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsNodeStructureOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/WorkItemProcessorEnricher.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Labels: enhancement

#777 Remove No AccessToken exeption when using Prompt Auth Mode
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsEndpoint.cs
Labels: Urgent Fix

#785 RemoveExtraQuery
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemMigrationClient.cs
Labels: enhancement, exception
