Repository nkdAgility/azure-devops-migration-tools, pull requests merged in 2021-03, with the labels that each got.

#881 TestPlansAndSuitesMigrationContext crashes with System.IndexOutOfRangeException
  src/MigrationTools.Extension/README.md
  src/MigrationTools.Extension/vss-extension.json
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
Labels: Urgent Fix, exception

#883 852-SaveNewTestSuiteToPlan-Active
  configuration.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Endpoints/TfsWorkItemEndPointTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/MigrationTools.Clients.AzureDevops.ObjectModel.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest/MigrationTools.Clients.AzureDevops.Rest.csproj
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.Clients.InMemory.Tests/MigrationTools.Clients.InMemory.Tests.csproj
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools.Integration.Tests/MigrationTools.Integration.Tests.csproj
  src/MigrationTools.TestExtensions/MigrationTools.TestExtensions.csproj
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools/MigrationTools.csproj
  src/MigrationTools/Tests/TestingConstants.cs
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/VstsSyncMigrator.Core.csproj
Labels: Urgent Fix, enhancement, exception

#887 Fix PipelineProcessor
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
Labels: exception

#896 Several fixes to the Pipeline Processor (again😄)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools/DataContracts/Pipelines/BuildDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/TaskGroups.cs
Labels: enhancement

#897 Repair sourceId <-> targetId mapping for Pipeline Processor
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools/DataContracts/Pipelines/BuildDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/ReleaseDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/ServiceConnection.cs
  src/MigrationTools/DataContracts/Pipelines/TaskGroups.cs
  src/MigrationTools/DataContracts/Pipelines/VariableGroups.cs
  src/MigrationTools/DataContracts/RestApiDefinition.cs
Labels: enhancement, exception
