Repository nkdAgility/azure-devops-migration-tools, pull requests merged in 2024-10, with the labels that each got.

#2417 User mapping logic error
  configuration.json
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsUserMappingTool.cs
Labels: enhancement, documentation, enhancement-modern, feature

#2418 Exception enhancement
  configuration.json
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsNodeStructureTool.cs
  src/MigrationTools/Exceptions/MigrationToolsException.cs
  src/MigrationTools/Processors/Infrastructure/Processor.cs
Labels: enhancement, enhancement-modern, feature

#2419 refactor exception handling and update XML references
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsNodeStructureTool.cs
  src/MigrationTools/Exceptions/MigrationToolsException.cs
Labels: enhancement, documentation, enhancement-modern, feature

#2420 Validator for TfsGitRepositoryTool and honor the enabled:false
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsGitRepositoryTool.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsGitRepositoryToolOptions.cs
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsGitRepositoryToolOptionsValidator.cs
Labels: enhancement, enhancement-modern, feature

#2422 UserMpaping shenanigans
  .github/dependabot.yml
  .github/workflows/MigrationToolsTelemetery.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .github/workflows/open-pr-describer.yml
  .github/workflows/opencommit.yml
  src/MigrationTools.Clients.TfsObjectModel/Tools/TfsUserMappingTool.cs
Labels: enhancement, build-action, enhancement-modern, feature

#2424 Topic/remove default string maniplulaot
  appsettings.json
  src/MigrationTools/Tools/StringManipulatorTool.cs
Labels: enhancement, enhancement-modern, feature

#2440 Update workflow to protextfrom but run external PRs
  .github/workflows/labeler.yml
  .github/workflows/main.yml
Labels: bug, build-action

#2439 adjust handling of default value
  src/MigrationTools.Clients.TfsObjectModel/Tools/FieldMappingTool/FieldMaps/FieldToFieldMap.cs
Labels: enhancement, enhancement-modern
